<!DOCTYPE html>
<body>
     <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
        <div class="w3-container">
      <center><img class="mylogo" src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/boy.png?alt=media&token=e9fc39bc-20c1-48b4-a653-8711a91eed8a"></center>
      <h3><center><b>Jay Kaushal</b></center></h3>
  </div>
  <div class="w3-bar-block" style="margin-top: 30px;">
    <a href="/#" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="/#about" class="w3-bar-item w3-button w3-hover-white">About</a> 
    <a href="/#projects" class="w3-bar-item w3-button w3-hover-white">Projects</a> 
    <a href="/#contact" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-hover-white">Feedback</a>

  </div>
  <center><div>
     <a href="https://github.com/123twister" target="_blank" class="fa fa-github"></a>
     <a href="https://www.linkedin.com/in/jay-kaushal" target="_blank" class="fa fa-linkedin"></a>
  </div></center>
</nav>
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <center>
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/error-404.png?alt=media&token=039d5504-778e-46d7-99fa-2f752df15a7e" style="width: 300px; height: 300px">
        <h6>The page you are looking for does not exists. Perhaps you can return back to <a href="/#" style="color: red;">homepage</a> and see if you can find what you are looking for.</h6>
    </center>
</div>
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
   <center><div>
     <a href="https://github.com/123twister" target="_blank" class="fa fa-github"></a>
     <a href="https://www.linkedin.com/in/jay-kaushal" target="_blank" class="fa fa-linkedin"></a>
  </div></center>
    <p class="w3-right"> ©2021 by Jay Kaushal </p>
</div>
</body>
</html>
