<!DOCTYPE html>
<html>
    <body>
        <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <div class="w3-container">
      <center><img class="mylogo" src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/boy.png?alt=media&token=e9fc39bc-20c1-48b4-a653-8711a91eed8a"></center>
      <h3><center><b>Jay Kaushal</b></center></h3>
  </div>
  <div class="w3-bar-block" style="margin-top: 30px;">
    <a href="/#" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="/#about" class="w3-bar-item w3-button w3-hover-white">About</a> 
    <a href="/#projects" class="w3-bar-item w3-button w3-hover-white">Projects</a> 
    <a href="/#contact" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-hover-white">Feedback</a>

  </div>
  <center><div>
     <a href="https://github.com/123twister" target="_blank" class="fa fa-github"></a>
     <a href="https://www.linkedin.com/in/jay-kaushal" target="_blank" class="fa fa-linkedin"></a>
  </div></center>
</nav>
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <center><h2>This feedback is very helpful for me, so as to make any changes. With the help of the given ratings I can manage to do so. Kindly give me your honest ratings.</h2></center>
        <ul>
            <li> 1 - I Hate It. </li>
            <li> 2 - I Don't Like It. </li>
            <li> 3 - It is Good. </li>
            <li> 4 - I Like It. </li>
            <li> 5 - I Love It. </li>
        </ul>
        <div class="star-rating">
            <div class="thanks-msg">Thank you for your feedback !!!</div>
            <div class="star-input">
                <input type="radio" name="rating" id="rating-5">
                <label for="rating-5" class="fas fa-star"></label>
                <input type="radio" name="rating" id="rating-4">
                <label for="rating-4" class="fas fa-star"></label>
                <input type="radio" name="rating" id="rating-3">
                <label for="rating-3" class="fas fa-star"></label>
                <input type="radio" name="rating" id="rating-2">
                <label for="rating-2" class="fas fa-star"></label>
                <input type="radio" name="rating" id="rating-1">
                <label for="rating-1" class="fas fa-star"></label>

                <!-- Rating Submit Form -->
                <form>
                    <span class="rating-reaction"></span>
                    <button type="submit" class="submit-rating">Submit</button>
                </form>
            </div>
        </div>
</div>
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
   <center><div>
     <a href="https://github.com/123twister" target="_blank" class="fa fa-github"></a>
     <a href="https://www.linkedin.com/in/jay-kaushal" target="_blank" class="fa fa-linkedin"></a>
  </div></center>
    <p class="w3-right"> ©2021 by Jay Kaushal </p>
</div>
        
        <script>
            const btn = document.querySelector(".submit-rating");
            const thanksmsg = document.querySelector(".thanks-msg");
            const starRating = document.querySelector(".star-input");
            // Success message 
            btn.onclick = () => {
                starRating.style.display = "none";
                thanksmsg.style.display = "table";
                return false;
            };
        </script>
    </body>
</html>