<!DOCTYPE html>
<html>
<title>Portfolio</title>

<body>

<!-- Menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <div class="w3-container">
      <center><img class="mylogo" src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/boy.png?alt=media&token=e9fc39bc-20c1-48b4-a653-8711a91eed8a"></center>
      <h3><center><b>Jay Kaushal</b></center></h3>
  </div>
  <div class="w3-bar-block" style="margin-top: 30px;">
    <a href="#" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#about" class="w3-bar-item w3-button w3-hover-white">About</a> 
    <a href="#projects" class="w3-bar-item w3-button w3-hover-white">Projects</a> 
    <a href="#contact" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-hover-white">Feedback</a>

  </div>
  <center><div>
     <a href="https://github.com/123twister" target="_blank" class="fa fa-github"></a>
     <a href="https://www.linkedin.com/in/jay-kaushal" target="_blank" class="fa fa-linkedin"></a>
  </div></center>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" >
    <h1 class="w3-jumbo"><b>Portfolio</b></h1>
  </div>

  <!-- About -->
  <div class="w3-container" id="about" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>About.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <h3>Currently completing my Mobile Solutions Development course from Conestoga College.</h3>
    <ul>
        <li> I have completed my Bachelor degree in Computer engineering from Terna Engineering College, Navi Mumbai, India</li>
        <li>Worked in multiple companies as an intern and worked as part timer with the designation of iOS App Developer</li>
        <li>Created multiple applications, secured 2nd place in Terna Engineering College for Technical Fest</li>
        <li>Hands-on experience in Swift, JAVA, HTML, CSS, APIs handling, JSON handling, Firebase, Google SDKs, COCOAPODs for integrating third party libraries in Swift programming, UI/UX</li>
        <li>Also worked as a full time iOS Developer</li>
    </ul>  
  </div>
  
  <!-- Projects -->
  <div class="w3-container" id="projects" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Projects.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <h3>Check Out My Work</h3>
    <p>The projects below are done by myself while I was completing my Bachelors in Computer Engineering.
      I have done multiple internships, worked in companies as an intern while I was completing my studies.
    </p>
  </div>

  <div class="w3-row-padding">

    <div class="w3-col m4 w3-margin-bottom" >
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/VIR.png?alt=media&token=c080badc-69fb-4ac9-a316-534f0f9acd11" alt="VIR" style="width:100%">
        <div class="w3-container">
          <h3>VIR</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>This is an eCommerece application that I built for a company.</p>
          <a href="https://apps.apple.com/ca/app/vir-kw/id1552623289">Live Application</a>
        </div>
      </div>
    </div>

    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/News.jpg?alt=media&token=f06b109b-0476-4830-961b-e5067e530d88" alt="News" style="width:100%">
        <div class="w3-container">
          <h3>News</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>This is a news application that I built with the help of News API from <a href="https://newsapi.org/">NEWS</a></p>
          <a href="https://github.com/123twister/News">Full Project</a>
        </div>
      </div>
    </div>

    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/Calculator.jpg?alt=media&token=712f2a72-aa23-4529-bd33-0c9ed36131cf" alt="Conversion Calculator" style="width:100%">
        <div class="w3-container">
          <h3>Conversion Calculator</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>This is a unit conversion calculator application, you can find the full code here.</p>
          <a href="https://github.com/123twister/Finally67">Full Project</a>
        </div>
      </div>
    </div>
  </div>

   <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/webrtc.PNG?alt=media&token=33120b0e-d8df-4eb0-9556-7e6a334b5332" alt="Video Conferencing Website" style="width:100%">
        <div class="w3-container">
          <h3>Video Conferencing Website</h3>
          <p class="w3-opacity">WebRTC</p>
          <p>This was my final year project where we have to built a website for conferencing. Here we used <a href="https://socket.io/">SOCKET.io</a> for making all the possible connections that helps for a proper real time communication. Also, this project is hosted on Heroku.</p>
          <a href="https://github.com/123twister/webrtc">Full Project</a>
        </div>
      </div>
    </div>

    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/ugood.jpg?alt=media&token=87f37ebc-7ae4-47d8-be8c-ce78a0fc4256" alt="uGOOD" style="width:100%">
        <div class="w3-container">
          <h3>uGOOD</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>This is a simple security application.</p>
          <a href="https://github.com/123twister/YouGood">Full Project</a>
        </div>
      </div>
    </div>

    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/coin.jpg?alt=media&token=6cb816f2-b832-492c-9269-3f004eedf1ff" alt="Coin Catalogue" style="width:100%">
        <div class="w3-container">
          <h3>Coin Catalogue</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>A coin catalogue app where users can save the data of all the ancient coin in one app, and with the help of Core data it becomes more easy for each user to save and access data whenever they require.</p>
          <a href="https://github.com/123twister/Coin-Catalogue">Full Project</a>
        </div>
      </div>
    </div>
  </div>

     <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/nagar.png?alt=media&token=7319cc1a-280c-4489-920b-b23b6b1b29b7" alt="NagarPalika" style="width:100%">
        <div class="w3-container">
          <h3>NagarPalika Bulao</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>I came up with this idea for solving critical issues like uneven road, huge potholes, etc. To overcome this issue in simpler and faster way, I made an application where any user with their live location can take pictures and write a post of what exactly is an issue and this will directly update the database of BMC in India.</p>
        </div>
      </div>
    </div>

    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/tenant.png?alt=media&token=ae2288b6-9406-4826-8249-d05994722655" alt="Tenant" style="width:100%">
        <div class="w3-container">
          <h3>Tenant</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>This is a rental application with unique UI design for better understanding for every users.</p>
        </div>
      </div>
    </div>

    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://firebasestorage.googleapis.com/v0/b/useful-device-230807.appspot.com/o/worldtech.png?alt=media&token=382607ce-bb34-49a3-8b79-d8f1ef36778d" alt="WorldTect" style="width:100%">
        <div class="w3-container">
          <h3>WorldTech IT</h3>
          <p class="w3-opacity">iOS Application</p>
          <p>This application handles the projects that the clients want from a company, so this app handles everything like the payment history, receipts, and many more with customized pdfs.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
    <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Don't miss to contact me for more information, kindly fill the form below.</p>
    <form>
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>  
  </div>

</div>

<!-- Footer -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
   <center><div>
     <a href="https://github.com/123twister" target="_blank" class="fa fa-github"></a>
     <a href="https://www.linkedin.com/in/jay-kaushal" target="_blank" class="fa fa-linkedin"></a>
  </div></center>
    <p class="w3-right"> ©2021 by Jay Kaushal </p>
</div>

</body>
</html>